@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  /* colors */
  --gunmetal: rgb(30, 38, 46);
  --space-cadet: rgb(57, 52, 86);
  --mountbatten-pink: rgb(148, 126, 160);
  --cultured: rgb(248, 247, 249);
  /* border */
  --border: 5px solid var(--mountbatten-pink);
  /* shadow */
  --shadow: 3px 3px 3px rgba(30, 38, 46, 0.6);
  --shadow-light: 2px 2px 2px rgba(30, 38, 46, 0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--space-cadet);
  min-width: 480px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gunmetal);
  width: 100%;
  border-bottom: var(--border);
}

#logo {
  margin-left: 25px;
  max-width: 250px;
}

#menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 1.25rem;
  font-family: monospace;
}

#menu a {
  color: var(--cultured);
  text-decoration: none;
}

#menu a:active {
  text-decoration: underline;
  font-weight: 600;
}

#menu a:hover {
  color: var(--mountbatten-pink);
}

.menu-item {
  margin: 15px;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1556244573-c3686c0f0e78?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80);
  border-bottom: var(--border);
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
  background-color: rgba(30, 38, 46, 0.6);
  padding: 50px;
}

.hero-wrapper p {
  font-size: 3rem;
  color: var(--cultured);
  text-align: center;
  max-width: 70%;
  text-shadow: var(--shadow);
  margin-bottom: 50px;
}

#resume-btn {
  background-color: var(--space-cadet);
  color: var(--cultured);
  padding: 20px;
  border-radius: 5px;
  font-size: 1.25rem;
  border: 2px solid var(--cultured);
  box-shadow: var(--shadow);
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  margin: 50px 100px;
  padding: 50px;
  background-color: rgba(248, 247, 249, 0.9);
  border-radius: 5px;
  box-shadow: var(--shadow);
}

h3 {
  padding-bottom: 7px;
  font-family: monospace;
  font-size: 1.75rem;
}

hr {
  border-color: var(--mountbatten-pink);
  width: 150px;
  opacity: 0.4;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bio {
  display: flex;
  align-items: center;
}

#bio img {
  border: 3px solid var(--mountbatten-pink);
  border-radius: 999px;
  box-shadow: var(--shadow-light);
  max-width: 150px;
}

#bio p {
  margin-left: 30px;
  color: var(--gunmetal);
}

#skills-container,
#projects-container,
#contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}

.skill-bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: var(--mountbatten-pink);
  color: var(--cultured);
  border-radius: 999px;
  box-shadow: var(--shadow-light);
  width: 120px;
  height: 120px;
}

.skill-bubble:hover {
  background-color: var(--space-cadet);
  transition: 0.2s ease-in;
}

.project-card {
  border-radius: 5px;
  margin: 10px;
  max-width: 45%;
  min-width: 380px;
  box-shadow: var(--shadow-light);
}

.project-card a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.project-card a img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--space-cadet);
  color: var(--cultured);
  border-top: 2px solid var(--cultured);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 0.75rem;
}

#contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.socials-bubble {
  margin: 10px;
  background-color: var(--mountbatten-pink);
  border-radius: 999px;
  box-shadow: var(--shadow-light);
  width: 120px;
  height: 120px;
}

.socials-bubble:hover {
  background-color: var(--space-cadet);
  transition: 0.2s ease-in;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gunmetal);
  width: 100%;
  border-top: var(--border);
  font-size: 1rem;
  padding: 15px;
  color: var(--cultured);
}

footer a {
  color: var(--cultured);
}

footer a:hover {
  color: var(--mountbatten-pink);
}
